<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{> header}}
    <p>Sorry for the inconvenience</p>
    <p> {{WelcomeMess}}</p>
    {{> footer}}
  </body>
</html>
